div {
    background-color:lightskyblue;
}

#p1 {
    font-style: italic;
}

#p2 {
    font-style: italic;
    color: whitesmoke;
}

#p3 {
    font-style: initial;
}

.artigos {
    background: green;
}